.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.seccion1{
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: Black; font-size: 40px; font-weight: bold; font-family: Georgia;
}
.seccion2{
    position: absolute;
    top: 68%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: black; 
    font-size: 50px; 
    font-weight: bold; 
    font-family: Palatino;
    font-style: italic;
}
.display-5{
    text-align: center;
}
